appdirs==1.4.3
atomicwrites==1.3.0
attrs==19.1.0
beautifulsoup4==4.7.1
black==19.3b0
bs4==0.0.1
certifi==2019.3.9
chardet==3.0.4
Click==7.0
Flask==1.0.2
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
more-itertools==7.0.0
pluggy==0.11.0
py==1.8.0
pytest==4.5.0
PyYAML==5.1
pyyml==0.0.2
requests==2.21.0
responses==0.10.6
six==1.12.0
soupsieve==1.9
toml==0.10.0
urllib3==1.24.1
wcwidth==0.1.7
Werkzeug==0.15.2
