{% extends "base.html" %}
{% block title%} Events for date: {{event_date}} {% endblock %}
{% block head %}
    {{ super() }}
    <style>
    </style>
{% endblock %}
{% block body %}
<table>
    <tr>
        <th>Event name</th>
        <th>Event Start</th>
        <th>Event End</th>
        <th>Event Service</th>
    </tr>
{% for event in events %}
  <tr>
    <td> {{ event["event_name"] }}</td><td>{{ event["event_start"] }}</td><td>{{ event["event_end"] }}</td><td>{{ event["source"] }}</td>
  </tr>
{% endfor %}
</table>
{% endblock %}
